<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <!-- <span class="name">{{ site.title }}</span> -->
          <span class="name">Lorena A. Ramírez-López</span>
          
          <hr>

          <p>
            Software engineer within the G.L.A.M. sector. Trained as a Moving Image Preservation Specialist with an extensive background in the digital preservation of websites, film and television, and Time-Based Media artworks (TBMA). I focus on coding to develop tools and technologies that expand information and access of media and art to communities.
          </p>

          <p>🇵🇾 |  🇨🇱 |  🇺🇸  </p>
        </div>
      </div>
    </div>
  </div>
</header>
