 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

                            <!-- FOR WORK -->
                            
                            <ul style="list-style: none;">
                                {% if post.client %}
                                    <li>Company: <a href="{{ post.external_url }}" target=”_blank”>{{ post.client }}</a></li>
                                {% endif %}

                                {% if post.start-date %}
                                <li>Since: {{ post.start-date }}</li>
                                {% endif %}
                                
                                {% if post.work_description %}
                                <p><li>{{ post.work_description }}</li></p>
                                {% endif %}
<!-- 
                                {% if post.example_project %}
                                <li> <a href="{{ post.example_project_link }}" target=”_blank”>{{ post.example_project }}</li></a>
                                {% endif %} -->
                            
                         

                            <!-- FOR EDU  -->
                            
                                {% if post.school %}
                                    <li>Education: {{ post.school }} </li>
                                {% endif %}

                                {% if post.graduated %}
                                    <li> Date: {{ post.graduated }} </li>
                                {% endif %}
                                
                                {% if post.major %}
                                    <li> Studied: {{ post.major }} </li>
                                {% endif %}
                                
                                {% if post.edu_description %}
                                    <p><li> {{ post.edu_description }} </li></p>
                                {% endif %}
                                
                           

                            <!-- FOR PROJECTS -->
                            
                                {% if post.affiliation %}
                                    <li> Organization: <a href="{{ post.external_url }}" target=”_blank”>{{ post.affiliation }}</a></li>
                                {% endif %}

                                {% if post.member %}
                                <li>Member since: {{ post.member }} </li>
                                {% endif %}

                                {% if post.org_description %}
                                    <p><li> {{ post.org_description }} </li></p>
                                {% endif %}
                            </ul>

                            <button type="button" 
                                class="btn btn-default" 
                                data-dismiss="modal">
                                <i class="fa fa-times"></i> 
                                    Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}